*{
    margin: 0;
    padding: 0;
  }
  
  .just{
    text-align: left;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #282c34;
    padding: 10px;
    min-height: auto;
    min-width: 30vh;
    max-width: auto;
 
    text-align: center;
  }
  
  .grid-container > div {
    background-color: rgba(245, 245, 245, 0.342);
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    border: 3px solid black;

  }
  